body {
  margin: 0%;
}

*{
  font-family: 'Rubik', sans-serif;
}

.zoom{
  transition: all 1s ease-in-out;
}

.zoom:hover{
  transform: scale(1.2);
}

.expand {
  transition: all 0.5s ;
}

.scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	background-color: #727272;
}